body{
    min-height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(206, 202, 202);
    padding: 16px;
    height: 32px;
}

.title{
    font-size: 32px;
    font-weight: 300;
}

#redraw{
    font-size: 16px;
}

.content{
    display: block;
    flex: 1 0 auto;
    flex-direction: column;
    
}

.container{
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    height: inherit;
}


.box{
    display: flex;
    flex-grow: 1;
    border: 1px solid black;
    aspect-ratio: 1;
}

.white {background-color: white;}
.black {background-color: black;}
