body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(206, 202, 202);
    padding: 16px;
    height: 32px;
}

.title {
    font-size: 32px;
    font-weight: 300;
}

#redraw {
    font-size: 16px;
}

.content {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 850px;
    max-height: 250px;
    flex: 1 0 auto;
   
    
}

.row {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 0;
    min-width: 0;
}


.box {
    display: flex;
    flex: 1 1 0;
    aspect-ratio: 1;
    min-height: 0;
    min-width: 0;
}

.white {background-color: white;}
.black {background-color: black;}
